//- Start head
head
    // Require meta 
    meta(charset = 'UTF-8')/
    meta(name = 'viewport' content = 'width=device-width, initial-scale=1')/

    //- CSS files 
    // Fontawesome libs
    link(rel = 'stylesheet' href = './assets/css/all.min.css')/

    // My file CSS
    link(rel = 'stylesheet' href = './assets/css/style.css')/
    
    // Title page 
    +titlePage('Resume CV')