include ./abstracts/variables.pug
include ./abstracts/functions.pug
include ./abstracts/mixin.pug


doctype html
html
    include ./layout/head.pug
    body


        include ./layout/footer.pug
        //- header

        //-     nav
        //-         // Good
        //-         - let i = 1
        //-         - let links = ['Home', 'profiles', 'services']

        //-         each title in links
        //-             if (links.indexOf(title) == 0)
        //-                 |
        //-                 |
        //-                 a(href= '#' class = 'link active')= title.toUpperCase()
        //-             else
        //-                 |
        //-                 |
        //-                 a(href= '#' class = 'link insert')=title
                    

                    
        //-         // Good