//- To print tite page
mixin titlePage(value = 'Page')
    title=value
//- //- testing code
//- mixin info(title = 'Default Title', link = '#')
//-     .info
//-         h1=title
//-         a(href=`${link}`)
